<div class="fixed top-0 left-0 w-full h-screen bg-gray-100 dark:bg-gray-900"
    style="background-image: url('assets/imagenes/onePiece.jpg'); 
           background-size: cover; 
           background-position: center; 
           background-repeat: no-repeat;">
  
    <div class="flex justify-center items-center h-full">
      <p-card class="w-full max-w-md p-6 bg-white dark:bg-gray-800 rounded-2xl shadow-xl transition-transform transform hover:scale-105">
        <ng-template pTemplate="title">
          <h5 class="mb-5 text-xl font-extrabold text-gray-900 dark:text-white text-center">Registro Usuario</h5>
        </ng-template>

        <ng-template pTemplate="content">
          <form [formGroup]="registroForm" class="w-full space-y-5" novalidate>
            
           <!-- Usuario -->
            <div>
                <label for="name" class="block text-sm font-medium text-gray-900 dark:text-white">Usuario:</label>
                <input type="text" id="name" formControlName="name"
                  class="w-full p-3 border border-gray-300 dark:border-gray-600 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-white">
                <div *ngIf="registroForm.get('name')?.hasError('required') && registroForm.get('name')?.touched" 
                  class="text-red-500 text-sm mt-1">Usuario Requerido</div>
              </div>

            <!-- Email -->
            <div>
              <label for="email" class="block text-sm font-medium text-gray-900 dark:text-white">Email:</label>
              <input type="text" id="email" formControlName="email"
                class="w-full p-3 border border-gray-300 dark:border-gray-600 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-white">
              <div *ngIf="registroForm.get('email')?.hasError('required') && registroForm.get('email')?.touched" 
                class="text-red-500 text-sm mt-1">Email Requerido</div>
            </div>

          
            <!-- Password -->
            <div>
              <label for="password" class="block text-sm font-medium text-gray-900 dark:text-white">Password:</label>
              <input type="password" id="password" formControlName="password"
                class="w-full p-3 border border-gray-300 dark:border-gray-600 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-white">
              <div *ngIf="registroForm.get('password')?.hasError('required') && registroForm.get('password')?.touched" 
                class="text-red-500 text-sm mt-1">Password requerida</div>
            </div>

            <!-- Botones -->
            <div class="flex flex-col space-y-3">
              <button type="button" (click)="regristrarUsuario()"
              class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-6 rounded-lg shadow-md transition-all">
                Registrar
              </button>
              <button type="button" (click)="regresar()"
                class="w-full bg-red-600 hover:bg-red-700 text-white font-semibold py-3 px-6 rounded-lg shadow-md transition-all">
                Cancelar
              </button>
            </div>
          </form>
        </ng-template>
      </p-card>
    </div>
</div>
